<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1> Fun Facts about You</h1>
    <h3>You share your Birthday With {{celeb_name}}</h3>
    <img alt =" Celebrity Image" src = {{img_src}}> 
    <p>{{todays_horoscope}} </p>
    {% for each_event in events%}
        <p>{{each_event}}</p>
    {% empty %}
    {% endfor %}
</body>
</html>