<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <form action="/funfacts" method="post">
            {% csrf_token%}
            <div class="form-group">
                <label> Enter the Name : </label>
                <input type ="text" class = "fom-control" name ="name">
            </div>
            <div class="form-group">
                <label> Enter the Date Of Birth : </label>
                <input type ="date" class = "fom-control" name ="dob">
            </div>
            <div class="form-group">
                <label> Favorite Category: </label>
                <select class = "fom-control" name ="category">
                    <option> Sports </option>
                    <option> Films  </option>
                    <option> Politician  </option>
                </select>
            </div>
            <input type = "submit" value ="Enter" >
        </form>
    </div>
</body>
</html>